In [1]:
import pandas as pd
import numpy as np

In [3]:
dates=pd.date_range("20251001",periods=6)
df=pd.DataFrame(np.arange(24).reshape(6,4),index=dates,columns=['A','B','C','D'])

In [4]:
df

             A   B   C   D
2025-10-01   0   1   2   3
2025-10-02   4   5   6   7
2025-10-03   8   9  10  11
2025-10-04  12  13  14  15
2025-10-05  16  17  18  19
2025-10-06  20  21  22  23

两种打印方式等价，索引是columns

In [5]:
print(df["A"],df.A)

2025-10-01     0
2025-10-02     4
2025-10-03     8
2025-10-04    12
2025-10-05    16
2025-10-06    20
Freq: D, Name: A, dtype: int64 2025-10-01     0
2025-10-02     4
2025-10-03     8
2025-10-04    12
2025-10-05    16
2025-10-06    20
Freq: D, Name: A, dtype: int64

切片方式的数字索引是对index的操作，左闭右开

In [8]:
print(df[0:3])

            A  B   C   D
2025-10-01  0  1   2   3
2025-10-02  4  5   6   7
2025-10-03  8  9  10  11

切片方式的标签索引也是对index进行选取，左右都是闭合的

In [9]:
print(df['20251004':'20251006'])

             A   B   C   D
2025-10-04  12  13  14  15
2025-10-05  16  17  18  19
2025-10-06  20  21  22  23

选择一行，即index对应的那一行

In [12]:
print(df.loc['20251006'])

A    20
B    21
C    22
D    23
Name: 2025-10-06 00:00:00, dtype: int64