这一节介绍几种索引方式

In [1]:
import pandas as pd
import numpy as np

In [2]:
dates=pd.date_range("20251001",periods=6)
df=pd.DataFrame(np.arange(24).reshape(6,4),index=dates,columns=['A','B','C','D'])

In [3]:
df

             A   B   C   D
2025-10-01   0   1   2   3
2025-10-02   4   5   6   7
2025-10-03   8   9  10  11
2025-10-04  12  13  14  15
2025-10-05  16  17  18  19
2025-10-06  20  21  22  23

两种打印方式等价，索引是columns

In [4]:
print(df["A"],df.A)

2025-10-01     0
2025-10-02     4
2025-10-03     8
2025-10-04    12
2025-10-05    16
2025-10-06    20
Freq: D, Name: A, dtype: int64 2025-10-01     0
2025-10-02     4
2025-10-03     8
2025-10-04    12
2025-10-05    16
2025-10-06    20
Freq: D, Name: A, dtype: int64

切片方式的数字索引是对index的操作，左闭右开

In [5]:
print(df[0:3])

            A  B   C   D
2025-10-01  0  1   2   3
2025-10-02  4  5   6   7
2025-10-03  8  9  10  11

切片方式的标签索引也是对index进行选取，左右都是闭合的

In [6]:
print(df['20251004':'20251006'])

             A   B   C   D
2025-10-04  12  13  14  15
2025-10-05  16  17  18  19
2025-10-06  20  21  22  23

选择一行，即index对应的那一行

In [7]:
print(df.loc['20251006'])

A    20
B    21
C    22
D    23
Name: 2025-10-06 00:00:00, dtype: int64

对行和列进行索引选择

In [8]:
print(df.loc[:,['A','B']])

             A   B
2025-10-01   0   1
2025-10-02   4   5
2025-10-03   8   9
2025-10-04  12  13
2025-10-05  16  17
2025-10-06  20  21

In [9]:
print(df.loc['20251006',['A','B']])

A    20
B    21
Name: 2025-10-06 00:00:00, dtype: int64

像数组一样用数字索引

In [10]:
print(df.iloc[3,1])

13

In [11]:
print(df.iloc[3:5,1:3])

             B   C
2025-10-04  13  14
2025-10-05  17  18

In [13]:
print(df.iloc[[1,3,5],[1,3]])

             B   D
2025-10-02   5   7
2025-10-04  13  15
2025-10-06  21  23

访问单个值，用整数索引

In [17]:

print(df.iat[0, 3])

3

访问单个值，用标签索引

In [20]:
print(df.at['20251005','A'])

16

条件筛选

In [21]:
print(df[df.A>8])

             A   B   C   D
2025-10-04  12  13  14  15
2025-10-05  16  17  18  19
2025-10-06  20  21  22  23